includes:
    - ./../../nunomaduro/larastan/extension.neon
    - ./../../phpstan/phpstan-mockery/extension.neon
    - ./../../phpstan/phpstan-deprecation-rules/rules.neon
    - ./../../phpstan/phpstan-strict-rules/rules.neon

parameters:
    checkMissingIterableValueType: false
